@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserratbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Montserrat', Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  background-color: #fff;
  color: #767c91;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 576px) {
    max-width: 576px;
  }
  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 992px) {
    max-width: 992px;
  }
  @media (min-width: 1200px) {
    max-width: 1230px;
  }
}

.text-bold {
  font-weight: 700;
}
